<h1>Termine</h1>

<table style="width:85%">
<% @termins.each do |t| %>
<% if t.todo == "0" && t.finished == "0" %>
<tr><td><%= t.formated_string %></td><td>   <%= link_to "remove", {:action => 'finished', :id => t.id} %></td></tr>
<% end %>
<% end %>

<tr><td>  </td></tr>
<tr><td>  </td></tr>

<% @todo.each do |t| %>
<% if t.todo == "1" and t.finished == "0" %>
<tr><td><li><%= t.formated_string %></li></td><td>   <%= link_to "remove", {:action => 'finished', :id => t.id} %></td></tr>
<% end %>
<% end %>


<%= form_for @termin_new, :url => { :action => "create" }  do |f|  %>
<tr><td><br><br><%= f.text_field  :input, size: 50 %>
    <%= f.submit "Add Termin" %></td></tr>
 <%end%>
 

<tr><td><small>For a termin enter => 31.10, 16:00, message text.  For a todo enter => todo, message text.</small><br><br><br></td></tr>


<tr><td><h3>Completed</h3></td></tr>
<% @termins.each do |t| %>
<% if t.todo == "0" and t.finished == "1"%>
<tr><td><small><%= t.formated_string %></td><td>   <%= link_to "delete", {:action => 'delete', :id => t.id} %></small></td></tr>
<% end %>
<% end %>


<% @todo.each do |t| %>
<% if t.todo == "1" and t.finished == "1"%>
<tr><td><small><li><%= t.formated_string %></li></td><td>   <%= link_to "delete", {:action => 'delete', :id => t.id} %></small></td></tr>
<% end %>
<% end %>
</table>

<br>
<br>
<br>
<br>
<br>
<br>
<% @haikus.each do |h| %>
<small><%= h %></small><br>
<% end %>